.venv/

#python
__pycache__/
*.pyc

#jupyter
.ipynb_checkpoints

#os
.DS_Store

#data
data/

#huggingface
.hf/

.env
.vscode

checkpoints/
exports/

#mlflow
mlruns/
mlflow.db
mlflow/

#tensorboard
logs/
